# Blockchain
SEPOLIA_RPC_URL=
DEPLOYER_PRIVATE_KEY=
MOCK_USDC_ADDRESS=
ESCROW_CONTRACT_ADDRESS=
REGISTRY_CONTRACT_ADDRESS=

# Backend
DATABASE_URL=
GITHUB_TOKEN=
LLM_API_KEY=

# Frontend
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_ESCROW_ADDRESS=